:root {
    /* Color variables */
    --Gray-50: hsl(0, 0%, 98%);
    --Gray-500: hsl(0, 0%, 41%);
    --Gray-950: hsl(0, 0%, 8%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    object-fit: cover;
}

button {
    font: inherit;
    background: none;
    border: none;
}

button:hover {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: "Epilogue", sans-serif;
    font-size: 1.125rem;
    color: var(--Gray-500);
    max-width: 1440px;
    margin: auto;
}

header {
    display: flex;
    gap: 50px;
    align-items: center;
    padding: 30px 50px;
}

header nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    color: var(--Gray-500);
    font-weight: 500;
    position: relative;
}

nav a:hover, nav button:hover {
    color: var(--Gray-950);
}

header>button {
    display: none;
}

main {
    display: flex;
    padding: 50px 150px;
    height: 700px;
    gap: 80px;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.left-nav button {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--Gray-500);
    font-weight: 500;
}

.left-nav button:first-child {
    width: fit-content;
}

.features {
    position: absolute;
    top: 80px;
    left: 0;
}

.features a {
    display: flex;
}

.right-nav {
    display: flex;
    align-items: center;
    gap: 50px;
}

.right-nav a:last-child {
    border: 2px solid var(--Gray-500);
    border-radius: 15px;
    padding: 10px 20px;
}

.right-nav a:last-child:hover {
    border-color: var(--Gray-950);
}

.left,
.right {
    flex: 1;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
}

.top {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    justify-content: center;
}

.top h1 {
    font-size: 5rem;
    font-weight: 700;
    color: var(--Gray-950);
    anchor-name: --features;
}

.top p {
    font-weight: 500;
    padding-right: 50px;
}

.top button {
    background-color: var(--Gray-950);
    color: var(--Gray-50);
    font-weight: 700;
    padding: 20px 40px;
    border-radius: 20px;
}

.top button:hover {
    background-color: var(--Gray-50);
    color: var(--Gray-950);
    border: 1px solid var(--Gray-950);
}

.brands {
    display: flex;
    gap: 50px;
    align-items: center;
}

.brand {
    flex: 1;
}

.right {
    height: 100%;
}

.right img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}


@media screen and (max-width: 375px) {
    header {
        padding: 20px 10px;
        justify-content: space-between;
    }

    header nav {
        display: none;
    }

    header>button {
        display: block;
    }

    main {
        padding: 0;
        flex-direction: column-reverse;
        height: auto;
    }

    .left {
        padding: 10px;
        gap: 50px;
    }

    .top {
        align-items: center;
        gap: 20px;
    }

    .top h1 {
        font-size: 2rem;
    }

    .top p {
        padding-right: 0;
        text-align: center;
        font-size: 0.875rem;
    }

    .brands {
        gap: 20px;
    }
}